<div class="cart-table-area ">
    <div class="container-fluid">

        <div>
            <div class="row ">
                <div class="col-12 col-md-8">
                    <div class="checkout_details_area mt-50 clearfix">
                        <div class="cart-title">
                            <h2>Checkout</h2>
                        </div>
                        <a class="addrss" href="/add-address">
                            <button style=" border-radius: 4px;  font-size: 16px;">ADD ADDRESS</button>
                        </a>
                        <form action="/place-order" id='checkout-form' method="" style="padding:30px ;">
                            {{#if address}}
                            {{#each address}}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="radio" name="address" value="{{this.shippingAddress.time}}"
                                            aria-label="Radio button for following text input" required>
                                    </div>
                                </div>
                                <input type="text" class="form-control" readonly
                                    value="{{this.shippingAddress.first_name}} {{this.shippingAddress.last_name}},{{this.shippingAddress.address}},{{this.shippingAddress.state}},{{this.shippingAddress.zipcode}}">
                            </div>
                            {{/each}}
                            {{else}}
                            <p class="text-danger">Please add address</p>
                            {{/if}}
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="cart-summary">
                        <h5>Cart Total</h5>
                        <ul class="summary-table">
                            <li><span>subtotal:</span> <span id="total">₹{{totalValue}}</span></li>
                            <li><span>DISCOUNT:</span> <span id="totaldiscount">₹0</span></li>
                            <li><span>delivery:</span> <span>Free</span></li>
                            <li><span>total:</span> <span id="totalPrice">₹{{totalValue}}</span></li>
                            <div class="promotional-code-box">
                                <h5 class="checkout-box-title">COUPON CODE</h5>
                                <div class="pcb-content">
                                    <p>Enter your coupon code if you have one</p>
                                    <div class="pcb-cuppon-input clearfix">

                                        <input type="text" placeholder="Coupon code" name="Coupon_Code" id="couponInput"
                                            value="">
                                        <div>
                                            <span id="couponValid"></span>
                                        </div>


                                        <div class="cart-btn mt-50">
                                            <a onclick="couponCheck(event)" href="" class="btn amado-btn w-50 h-20">APPLY</a>
                                        </div>



                                    </div><br>



                                </div>
                            </div>
                        </ul>
                        <input type="text" value="{{user._id}}" hidden name="userId" required>

                        <div class="payment-method">
                            <!-- Cash on delivery -->
                            <div class="payment">
                                <p>Payment method</p>
                                <label class="radio-inline">
                                    <input type="radio" name="payment-method" value="COD" required>Cash On Delivery
                                </label>
                                <br>
                                <label class="radio-inline mt-2">
                                    <input type="radio" name="payment-method" value="ONLINE" required>Online Payment
                                </label>
                            </div>
                        </div>

                        <div class="cart-btn mt-50">
                            <button class="btn amado-btn w-100" type="submit">CHECKOUT</button>
                        </div>

                    </div>
                </div>
                </form>
            </div>

        </div>

    </div>
</div>
</div>





<script>
    $('#checkout-form').submit((e) => {

        e.preventDefault()
        $.ajax({
            url: '/place-order',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {

                if (response.codSuccess) {
                    location.href = "/order-success"
                } else {
                    razorpayPayment(response)
                }
            }

        })
    })

    function razorpayPayment(order) {

        var options = {
            "key": "rzp_test_CfoXgcr9kkdbKe", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Amad",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1

            "handler": function (response) {

                verifyPayment(response, order)

            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9999999999"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options)
        rzp1.open()
    }

    function verifyPayment(payment, order) {

        $.ajax({
            url: '/verify-payment',
            method: "post",
            data: {
                payment,
                order
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    location.href = ('/order-success')
                } else {
                    alert('payment failed')
                }
            }

        })

    }



    function couponCheck(e) {
        let code = $('#couponInput').val()
        
        e.preventDefault()
        $.ajax({
            url: '/check-coupon',
            data: {
                coupon: code,
            },
            method: 'post',
            success: (response) => {
                if (response.status) {
                    
                    $('#couponValid').show()
                    $('#couponValid').html('<i class="text-success fa-regular fa-circle-check"></i>  Valid Code')
                    setTimeout(() => {
                        $('#couponInput').prop('readonly', true)
                        
                    }, 10000)
                    $('#totaldiscount').html(response.discount)
                    console.log(response.discount)
                    $('#totalPrice').html(response.amount)
                } else {
                    $('#couponValid').show()
                    $('#couponValid').html('<i class="fa-solid text-danger fa-xmark"></i> Invalid Code')
                    $("#discount").html(0)
                    setTimeout(() => {
                        $('#couponValid').hide()
                    }, 3000)
                }
            }
        })
    }

</script>